nav {
  border-bottom: 2px solid #E4E4E4;
  min-height: 65px;
  padding: 0 5vw;

  .nav-item {
    color: rgb(54, 53, 53);
    padding: 1vw 40px;
    font-weight: bolder;
    transition: color 0.3s ease;
    &:hover {
      color: #b90303;
    }
  }
  .nav-red {
    color: #e72d2d;
  }
}
  .btn {
    background-color: rgba(0, 0, 0, 0);
    font-weight: bolder;
    transition: color 0.3s ease;
    &:hover {
      color: #b90303;
    }
    border: 0px solid transparent;
  }

 .dropdown-item:active {
   background-color: #b90303;
 }