<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-left">
      <a class="navbar-brand" routerLink="/">
        <i class="fa fa-car fa-lg"></i> Rental
      </a>
    </div>
  
    <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
    <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
    <button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target=".navbar-collapse" (click)="toggleCollapse()" [ngClass]="{'is-active': show}">
      <span class="fa fa-bars"></span>
    </button>
  
    <!-- This "nav-menu" is hidden on mobile -->
    <!-- Add the modifier "is-active" to display it on mobile <a class="nav-item nav-link" (click)="logout()" routerLink="/">WYLOGUJ</a>-->
    <div class="collapse navbar-collapse justify-content-between" [ngClass]="{'is-active': show}">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/oferta">
          OFERTA
        </a>
        <a class="nav-item nav-link nav-red" routerLink="/rezerwacja">
          REZERWACJA
        </a>
        <a class="nav-item nav-link" routerLink="/kontakt">
          KONTAKT
        </a>
      </div>
      <div class="navbar-nav">
        <div *ngIf="auth.user | async; else guest">
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  PANEL
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a routerLink="panel/pojazdy" class="dropdown-item">POJAZDY</a>
                    <a routerLink="panel/terminarz" class="dropdown-item">TERMINARZ</a>
                    <a routerLink="/" class="dropdown-item" (click)="logout()">WYLOGUJ</a>
                </div>
              </div>
        </div>
      </div>
    </div>
  </nav>

  <ng-template #guest>
      <a class="nav-item nav-link" routerLink="/login">
        LOGOWANIE
      </a>
    </ng-template>
  