<div class="container">
    <h2>OFERTA</h2>
    <hr>
    <br>  
  <div class="row">
      <div class="col">
          <p class="text-center"><strong>WYNAJEM</strong></p>
          <div class="row info">
              <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pellentesque orci eget viverra bibendum. Cras tortor lorem, porta sed arcu vel, fringilla pharetra tellus. Pellentesque non condimentum libero, quis euismod sapien. Ut ante arcu, finibus non elit at, accumsan imperdiet nisl. Maecenas maximus purus vitae sapien fermentum, vel egestas elit tempus. Donec nec nunc iaculis, venenatis mi a, posuere ante. Cras non nulla a dolor molestie sodales. Nullam ac est ac mi posuere finibus quis nec urna. Aenean vel scelerisque tellus, et aliquet felis. Sed auctor dui ipsum, eu egestas tortor ultricies id. Mauris convallis dictum ex sed tempor. Curabitur eget tortor pellentesque, maximus sapien ut, aliquet metus. Donec tincidunt vulputate lacinia. Duis vel cursus purus. 

              </p>
          </div>
      </div>
      <div class="col">
          <p class="text-center"><strong>WARUNKI</strong></p>
          <div class="row info">
            <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam mi ex, congue posuere luctus accumsan, pretium et mi. Curabitur eget est et lorem scelerisque sollicitudin. Ut nec pellentesque augue. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed diam nisi, porta sit amet nibh vel, venenatis suscipit lacus. Nunc sodales dolor metus, sed eleifend velit viverra at. Integer dapibus imperdiet dignissim. Phasellus semper vestibulum mi eu hendrerit. Maecenas pellentesque egestas gravida. Vivamus ac mi cursus, vehicula turpis et, ultrices nisi. Donec vitae egestas nulla, ullamcorper lacinia orci. 

            </p>
        </div>
      </div>
    </div>
  </div>