<div class="container">

<h2>TERMINARZ</h2>

  <hr>
<br>
<p class="text-center"><strong>LISTA REZERWACJI</strong></p>
<br>
<div *ngFor="let item of items | async">
      <div class="col-xs-6">
        <div class="table-responsive">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th class="text-center">Marka</th>
                <th class="text-center">Model</th>
              </tr>
            </thead>
            <tbody>
              <tr>
              <td>{{ item.marka || 'Brak marki' }}</td>
              <td>{{ item.model || 'Brak modelu' }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
</div>
    <div *ngFor="let book of books | async">
            <div class="col-xs-6">
            <div class="table-responsive">
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th class="text-center">Początek rezerwacji</th>
                    <th class="text-center">Koniec rezerwacji</th>
                    <th class="text-center">Imię</th>
                    <th class="text-center">Nazwisko</th>
                    <th class="text-center">Numer</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ book.startdate || 'Brak początku' }}</td>
                    <td>{{ book.enddate || 'Brak końca' }}</td>
                    <td>{{ book.name || 'Brak imienia' }}</td>
                    <td>{{ book.surname || 'Brak nazwiska' }}</td>
                    <td>{{ book.phone || 'Brak numeru' }}</td>
                  </tr>
                </tbody>
              </table>
              <hr>
            </div>
          </div>
    </div>

<loading-spinner *ngIf="showSpinner"></loading-spinner>
<button type="button" class="btn is-danger" (click)='deleteItems()'>USUŃ WSZYSTKO</button>
<br>
<hr>
</div>

