<div class="container">
    <h2>KONTAKT</h2>
    <hr>
    <br>
    <div class="row">
      <div class="col">
        <strong>DANE FIRMY
        <br>
        <br>
        Adres:</strong>
        <br>
        ul. Dyplomowa 1/2<br>
        11-111 Wrocław
      </div>
      <div class="col-7">
          <strong>INFORMACJE
              <br>
              <br>
              Telefon:</strong><br>
            +48 111 111 111
          <br>
          <br>
          <strong>E-mail:</strong><br><a href=mailto:car@rental.pl>car@rental.pl</a>
          
      </div>
    </div>
  </div>