
.sidebar .active{
    color: black;
    background-color: #f8f9fa;
    border-color: grey;
  }

.sidebar .logout{
    color: #e72d2d;
}

  .row {
    padding: 10px;
    margin: 0 auto;
  }
  .row .form-control {

    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .btn {
    max-width: 200px;
    margin: 8px auto;
  }